.diy-container {
  display: grid;
  grid-template-columns: 1fr 650px 1fr;
  /* grid-template-rows: 1fr; */
  height: 100%;
}

.text-control-holder {
  border: 1px solid cyan;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px 5px;
}

.diy-post-holder {
  border: 1px solid darkgreen;
}

.diy-post {
  box-sizing: content-box;
  width: 600px;
  height: 400px;
  position: relative;
}

.image-control-holder {
  border: 1px solid darkmagenta;
}
