.random-container {
  width: 650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  background-color: #f2e9d8;
}

.post {
  box-sizing: content-box;
  width: 600px;
  height: 400px;
  position: relative;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.quote-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.quote-text,
.quote-author {
  text-align: center;
}

.quote-author {
  margin-top: 10px;
}

.query-container {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#category-select {
  width: 158px;
}

.button-holder {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-holder > button {
  border: 1px solid #bab3a6;
  color: #6f6b63;
  padding: 4px 8px;
  border-radius: 5px;
  width: 100px;
  background-color: transparent;
}

.button-holder > button:hover {
  background-color: #f5f5f5;
}
